<MudNavMenu Style="height:100vh">
    <MudImage Src="images/logo-blanco.png" Alt="Refugio del Sol" Height="100" />
    <MudDivider Class="my-2" />

    <MudNavLink Href="#home"
                Icon="@Icons.Material.Filled.Home"
                IconColor="Color.Inherit"
                Match="NavLinkMatch.All">
        HOME
    </MudNavLink>
    <MudNavLink Href="#services"
                Icon="@Icons.Material.Filled.WorkOutline"
                IconColor="Color.Inherit"
                Match="NavLinkMatch.All">
        SERVICES
    </MudNavLink>
    <MudNavLink Href="#gallery"
                Icon="@Icons.Material.Filled.Image"
                IconColor="Color.Inherit"
                Match="NavLinkMatch.All">
        GALLERY
    </MudNavLink>
    <MudNavLink Href="#review"
                Icon="@Icons.Material.Filled.Reviews"
                IconColor="Color.Inherit"
                Match="NavLinkMatch.All">
        REVIEWS
    </MudNavLink>
    <MudNavLink Href="#faq"
                Icon="@Icons.Material.Filled.QuestionAnswer"
                IconColor="Color.Inherit"
                Match="NavLinkMatch.All">
        FAQ
    </MudNavLink>
    <MudNavLink Href="#booking"
                Icon="@Icons.Material.Filled.CalendarMonth"
                IconColor="Color.Inherit"
                Match="NavLinkMatch.All">
        BOOKING
    </MudNavLink>

    <div style="position:absolute; bottom:10px;width:100%;text-align:center;">
        <UserMenu />
    </div>
</MudNavMenu>